#appLayout > #header > #leftSide {
  border: 1px solid black;
}

#appLayout > #header > #leftSide {
  display: flex;

  align-items: center;
}

#appLayout > #header > #leftSide > #appLogo {
  margin-left: 10px;
}

#appLayout > #header > #leftSide > #appName {
  margin-left: 20px;
  font-size: 30px;
}

table {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

#expenseInput {
  padding-top: 10px;
  font-size: 20px;
}

#expenseInput > #expenseTxt {
  font-size: 20px;
  width: 69%;
}

#expenseInput > #expenseAmt {
  font-size: 20px;
  width: 20%;
  margin-left: 10px;
}

#expenseInput > button {
  margin-left: 10px;
  font-size: 20px;
  width: 9%;
}

.oprIcons {
  width: 25px;
}
